@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.header-bar{
    display: flex;
    justify-content: space-between;
    font-size: 48px;
    font-family: 'Lato', sans-serif;
}
